.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 39px !important;
    user-select: none;
    -webkit-user-select: none;
}

.errorDiv {
    border: 2px solid red !important;
}

.errorColor{
    color: red;
}